    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed:wght@300&display=swap');
    html,
    body,
    ul,
    ol {
        margin: 0;
        padding: 0;
    }
    
     ::selection {
        background: rgb(170, 170, 170);
        /* WebKit/Blink Browsers */
    }
    
     ::-moz-selection {
        background: rgb(175, 175, 175);
        /* Gecko Browsers */
    }
    /* Start Gallery CSS */
    
    .thumb {
        margin-bottom: 15px;
    }
    
    .bg-dark {
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
    
    .thumb:last-child {
        margin-bottom: 0;
    }
    /* CSS Image Hover Effects: https://www.nxworld.net/tips/css-image-hover-effects.html */
    
    .thumb figure img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    
    #startsida-container {
        padding: 200px 0 300px 0;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: left;
        font-weight: 400 !important;
        font-size: 1.3rem;
    }
    
    #förklarings-ruta {
        padding-top: 65px;
    }
    
    p {
        text-align: left;
        font-size: 1.3rem;
        font-weight: 400 !important;
    }
    
    #boknings-container p {
        font-size: 1rem;
    }
    
    #startsida-container p {
        text-align: left;
    }
    
    #tider {
        padding-top: 50px;
    }
    
    #cookie-container {
        margin-top: 350px;
        color: white;
    }
    
    #cookie-container button {
        margin-bottom: 20px;
    }
    
    #cookie-container table {
        margin: 50px 0;
    }
    
    #cookie-container h1 {
        font-size: 90px;
        text-align: center;
    }
    
    #cookie-container hr {
        width: 30%;
    }
    
    #cookie-container li {
        font-size: 25px;
        padding-bottom: 20px;
    }
    
    .white-table tr {
        color: white;
    }
    
    .list-group-item {
        background: rgb(255, 255, 255);
        border-bottom: 1px solid rgba(255, 255, 255, 0.13);
        color: #333 !important;
        cursor: pointer;
        transition: .2s all ease-in-out;
        padding: 10px 0;
    }
    
    .white-link {
        color: white !important;
        text-transform: none !important;
    }
    
    .öppenRidbana {
        background-color: rgb(15 255 36 / 15%) !important;
    }
    
    .ridlektion {
        background-color: rgb(219 96 96 / 35%) !important;
    }
    
    .selected {
        filter: brightness(.85);
        border: 1px solid rgba(51, 51, 51, 0.075);
    }
    
    .form-control,
    .form-control:active,
    .form-control:focus,
    .form-control:focus:active {
        color: rgb(0, 0, 0) !important;
    }
    
    .white-text {
        color: white !important;
    }
    
    .form-group {
        position: relative;
        z-index: 1;
        height: auto;
        padding: 30px 0;
    }
    
    .form-group label {
        position: absolute;
        left: 11px;
        top: 30px;
        transition: .3s all ease-in-out;
    }
    
    .form-group input:focus {
        border-bottom: 1px solid rgba(0, 0, 0, 0.384) !important;
    }
    
    .samarbets-row {
        margin-bottom: 100px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.137);
    }
    
    .form-group input:focus+label {
        top: -1px;
    }
    
    .form-group input:valid+label {
        top: -1px;
    }
    
    #partner-container {
        padding-bottom: 100px;
    }
    
    video.loading {
        background: black url(../gif/loading.png) no-repeat;
        background-position: center;
    }
    
    #date {
        color: white;
        background: none;
        border: none;
        border-bottom: 1px solid white;
    }
    
    #send-button {
        width: 150px;
    }
    
    #okButton {
        color: black;
        background: white;
        border: none;
        font-weight: 600;
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        border-radius: 0;
    }
    
     ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
    
    #frmContact .form-control {
        color: black;
        border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    }
    
    #frmContact div {
        margin-top: 20px;
    }
    
    #partners {
        margin-top: 300px;
    }
    
    #partners img {
        height: 50px;
    }
    
    #om-oss-container {
        margin-top: -50px;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        font-weight: 400 !important;
        font-size: 1.3rem;
    }
    
    #om-oss-column {
        padding-bottom: 100px;
    }
    
    #om-oss-container hr {
        width: 25%;
    }
    
    #startsida-container hr {
        width: 25%;
    }
    
    #anläggning-container {
        padding-top: 350px;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        font-weight: 400 !important;
        font-size: 1.3rem;
    }
    
    #anläggning-container hr {
        width: 25%;
    }
    
    #anläggning-container img {
        margin: 100px 0 100px 0;
        max-width: 100%;
        max-height: 450px;
        object-fit: cover;
        border: 1px solid white;
    }
    
    #häst-container {
        padding-top: 100px;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400 !important;
        font-size: 1.3rem;
        text-transform: uppercase;
    }
    
    #häst-container-2 {
        padding-top: 350px;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center !important;
        font-weight: 400 !important;
        font-size: 1.3rem;
    }
    
    #häst-container-3 {
        padding-top: 300px;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        font-weight: 400 !important;
        font-size: 1.3rem;
    }
    
    #häst-container-2 hr,
    #häst-container-3 hr {
        width: 25%;
    }
    
    #häst-container img {
        border: 1px solid #fff;
    }
    
    #häst-container a:hover {
        text-decoration: none;
    }
    
    .card {
        margin-bottom: 30px;
        border-radius: 0;
        border: 0;
        background-color: black;
    }
    
    #frmContact-kontakt {
        text-align: left;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    #frmContact-kontakt input {
        border-bottom: 1px solid white !important;
        border-radius: 0;
        color: white !important;
    }
    
    #frmContact-kontakt textarea {
        border-bottom: 1px solid white !important;
        border-radius: 0;
        color: white !important;
    }
    
    #frmContact-kontakt button {
        float: right;
        width: 7rem;
        background: white;
        border: 0;
        border-radius: 0;
        color: black !important;
    }
    
    .card-title {
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400 !important;
        padding-top: 10px;
        font-size: 1.3rem;
        text-transform: uppercase;
    }
    
    #häst {
        margin-top: 50px;
        font-size: 2rem;
        color: white;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    
    hr {
        background: white;
        margin-bottom: 25px;
    }
    
    #bild {
        width: 100%;
        height: 400px;
        border: 1px solid #fff;
        object-fit: cover;
    }
    
    #information {
        background-color: rgb(7, 7, 7);
        padding: 25px;
    }
    
    #information hr {
        background-color: rgba(255, 255, 255, 0.185);
    }
    
    #häst-instafeed .gallery {
        padding: 0;
        margin-top: 50px;
        margin-left: -30px;
    }
    
    .card-title:hover {
        color: white;
    }
    
    .img-thumbnail {
        padding: 0;
        border-radius: 0;
        width: 500px;
        height: 300px;
        object-fit: cover;
    }
    
    .thumb figure:hover img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
    
    .instacontainer {
        padding: 30px;
        color: rgba(255, 255, 255, 0.678);
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400 !important;
    }
    
    .instacontainer hr {
        background: white;
        width: 25%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .instacontainer h3 {
        margin-bottom: 50px;
    }
    
    .instacontainer button {
        border: 2px solid #fff;
        color: white;
        width: 150px;
        margin-top: 50px;
    }
    
    .instacontainer button:hover {
        color: black;
        background: white;
    }
    
    @media (min-width: 576px) {
        .col-sm-6 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 100%;
        }
    }
    
    img,
    col,
    row {
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
    
    body {
        background: #000;
    }
    
    a {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400 !important;
    }
    
    nav {
        background: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        padding: 90px 10px;
        /* Large padding which will shrink on scroll (using JS) */
        -webkit-transition: 0.4s;
        transition: 0.4s;
        /* Adds a transition effect when the padding is decreased */
    }
    
    nav .navbar-toggler-icon {
        background: #fff;
    }
    
    nav .nav-link {
        margin-right: 15px;
        color: #333;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 23px;
    }
    
    nav img {
        -webkit-transition: 0.4s;
        transition: 0.4s;
        /* Adds a transition effect when the padding is decreased */
        margin: 35px;
        height: 8em;
    }
    
    nav .dropdown {
        border-radius: 0;
        border: 0;
    }
    
    nav .dropdown-menu {
        text-align: right !important;
        background: #000000;
        border: 0;
        top: 80%;
        border-radius: 0px 0px 5px 5px;
    }
    
    nav .dropdown-item {
        font-size: 18px;
    }
    
    nav .dropdown-item:hover {
        background: #464646;
        border-bottom: 1px solid #fff;
        color: #fff;
    }
    
    nav .dropdown-menu a {
        color: #fff;
    }
    
    nav .logo-filter {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
    }
    
    main {
        padding-top: 400px;
    }
    
    main .container {
        color: #fff;
    }
    
    main .container p {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        color: #fff;
    }
    
    .fa,
    .far,
    .fas {
        color: white;
        font-size: 20px;
    }
    
    .gallery {
        padding-left: 35px;
    }
    
    .form-control,
    .form-control:active,
    .form-control:focus,
    .form-control:focus:active {
        background-color: #96d4ec00!important;
        border: none;
        border-bottom: 1px solid white;
        color: rgb(255, 255, 255);
    }
    
    textarea:hover,
    input:hover,
    textarea:active,
    input:active,
    textarea:focus,
    input:focus,
    button:focus,
    button:active,
    button:hover,
    label:focus,
    .btn:active,
    .btn.active {
        outline: 0px !important;
        -webkit-appearance: none;
        box-shadow: none !important;
    }
    
    #contact-form button {
        background: white;
        width: 10rem;
        border-radius: 0;
        color: black;
        border: none;
        font-family: "Roboto", sans-serif;
        float: right;
    }
    
    #contact-form label {
        float: left
    }
    
    .carousel-item {
        padding: 100px 0;
    }
    
    .carousel-item img {
        max-height: 70vh;
        object-fit: cover;
        border: 1px solid #fff;
    }
    
    #partner-container {
        margin-top: -125px;
        align-items: center;
    }
    
    option,
    option:checked {
        color: black !important;
    }
    
    #partner-container #partners {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
    }
    
    #calendar {
        display: inline-block !important;
        padding-top: 50px;
    }
    
    .video-container {
        margin-top: 260px;
        position: relative;
        text-align: center;
        color: white;
    }
    
    .white-box {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 25em;
        background: #616161;
    }
    
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        color: #fff;
        font-size: 36px;
        font-size: 100px;
    }
    
    video {
        width: 100%;
    }
    
    #myModal,
    #myModal2 {
        border: 0;
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-weight: 400 !important;
    }
    
    #myModal .modal-header,
    #myModal2 .modal-header {
        border: 0;
        background: rgb(255, 255, 255);
        color: rgb(95, 95, 95);
    }
    
    .modal-footer,
    .modal-footer {
        border: 0;
        border-radius: 0;
    }
    
    .modal-body .form-group select {
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .modal-body .form-group select option {
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .modal-footer .btn {
        border-radius: 0;
    }
    /* TEST */
    /* END TEST */
    
    .modal-title {
        font-weight: 600;
    }
    
    #sel1 {
        width: 100%;
    }
    
    #boka-knapp:hover {
        background: rgb(59, 59, 59);
    }
    
    #stäng-knapp:hover {
        background: rgb(88, 88, 88);
        color: white;
    }
    
    #send-button:hover {
        background: rgb(59, 59, 59);
    }
    
    #send-button {
        border: 0;
        border-radius: 0;
    }
    
    .close,
    .close:hover {
        color: white;
    }
    
    #boka-knapp,
    #send-button {
        border: 0;
        background-color: rgb(88, 88, 88);
    }
    
    #stäng-knapp {
        background: none;
        color: rgb(105, 105, 105);
        border: 1px solid rgb(102, 102, 102);
    }
    
    #imagemodal img {
        max-width: 100%;
        object-fit: contain;
        border: 2px solid white;
    }
    
    #imagemodal .modal-body,
    #imagemodal .modal-content,
    #imagemodal .modal-footer {
        border: none;
        background: none !important;
    }
    
    #imagemodal .modal-body {
        width: 100%;
        height: 100%;
    }
    
    footer {
        color: rgba(255, 255, 255, 0.61);
        font-size: 0.7rem;
    }
    /* On screens that are 992px or less, set the background color to blue */
    
    .header404 {
        font-size: 9em;
    }
    
    .logo-img {
        filter: grayscale(1);
        width: 80%;
        height: 28em;
        border: 1px solid white;
        object-fit: cover;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        transition: .25s all ease-in-out;
    }
    
    .logo-img:hover {
        filter: grayscale(0);
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 25px 0;
        text-transform: uppercase;
    }
    
    .bokadTid {
        color: black !important;
        border: 1px solid #beaf80;
        background: #ffeeba;
        height: 50px;
        vertical-align: middle;
        padding-top: 7px;
        transition: 0.22s ease;
    }
    
    .bokadTid:hover {
        background: #ada077;
        border: 1px solid #867b58;
    }
    
    .fas {
        margin-top: 80px;
        margin-bottom: 190px;
        font-size: 30px;
    }
    
    .röd-text {
        color: rgb(219 96 96 / 55%) !important;
    }
    
    .orange-text {
        color: rgb(219 175 96 / 45%) !important;
    }
    
    .grön-text {
        color: rgb(15 255 36 / 35%) !important;
    }
    
    #boknings-container p,
    #boknings-container h6 {
        color: white;
    }
    
    #horizontal-arrows {
        display: none !important;
    }
    
    i {
        cursor: pointer;
    }
    
    @media only screen and (max-width: 767px) {
        #calendar {
            margin-left: -.9em !important;
        }
        #calendar #calendar-days,
        #calendar #calendar-grid {
            padding: 0 !important;
            line-height: 1 !important;
        }
        #horizontal-arrows {
            display: block !important;
            padding: 0 50px;
            margin-top: -55px;
            margin-bottom: 0;
            height: 200px;
        }
        #horizontal-arrows i {
            font-size: 40px;
        }
        #navigation-wrapper {
            display: none !important;
        }
        #om-oss-container {
            align-items: center;
            text-align: center !important;
        }
    }
    
    @media only screen and (max-width: 1300px) {
        #startsida-container {
            text-align: center;
        }
        #cookie-container ul {
            text-decoration: none;
            list-style: none;
        }
        #cookie-container {
            margin-top: 150px;
            text-align: center;
            color: white;
        }
        #cookie-container h1 {
            font-size: 50px;
        }
        #cookie-container p {
            text-align: center !important;
        }
        #förklarings-ruta {
            padding-top: 0px;
            text-align: center;
        }
        /* Icon 1 */
        .animated-icon1,
        .animated-icon2,
        .animated-icon3 {
            width: 30px;
            height: 20px;
            position: relative;
            margin: 0px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
        }
        .animated-icon1 span,
        .animated-icon2 span,
        .animated-icon3 span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }
        .animated-icon1 span {
            background: #ffffff;
        }
        .animated-icon1 span:nth-child(1) {
            top: 0px;
        }
        .animated-icon1 span:nth-child(2) {
            top: 10px;
        }
        .animated-icon1 span:nth-child(3) {
            top: 20px;
        }
        .animated-icon1.open span:nth-child(1) {
            top: 11px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }
        .animated-icon1.open span:nth-child(2) {
            opacity: 0;
            left: -60px;
        }
        .animated-icon1.open span:nth-child(3) {
            top: 11px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }
        .navbar-expand-lg>.container,
        .navbar-expand-lg>.container-fluid,
        .navbar-expand-lg>.container-lg,
        .navbar-expand-lg>.container-md,
        .navbar-expand-lg>.container-sm,
        .navbar-expand-lg>.container-xl {
            align-items: stretch !important;
        }
        p {
            font-size: 14px;
        }
        .logo-img {
            margin-top: 75px;
            width: 100%;
            height: 25em;
        }
        .header404 {
            font-size: 5em;
        }
        .navbar-collapse {
            background: black;
        }
        .row {
            margin: 0;
        }
        .samarbets-row {
            margin-bottom: 100px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.137);
        }
        #om-oss-container .form-control {
            border-bottom: 1px solid rgba(255, 255, 255, 0.329) !important;
        }
        #startsida-container {
            padding-top: 0;
        }
        #partners {
            text-align: center;
        }
        #partner-container {
            margin-top: -165px;
            margin-bottom: 90px;
            border: none;
        }
        .partner-icon {
            margin-bottom: 50px;
            align-self: center;
        }
        #om-oss-container {
            margin-top: -150px;
        }
        #häst-container-2 {
            padding-top: 150px;
        }
        .card-title {
            text-align: center;
        }
        #anläggning-container {
            padding-top: 150px;
        }
        #häst-container-3 {
            padding-top: 150px;
        }
        #anläggning-container img {
            margin: 20px 0 10px 0;
            max-width: 100%;
            max-height: 450px;
            object-fit: cover;
            border: 1px solid white;
        }
        #häst,
        #information {
            text-align: center;
        }
        .instacontainer {
            text-align: center;
        }
        .instacontainer .gallery {
            margin-top: 50px;
            margin-left: -30px;
        }
        #häst-instafeed .gallery {
            padding: 0;
            margin-top: 50px;
            margin-left: 0px;
        }
        .bg-dark {
            background-color: rgba(0, 0, 0, 0) !important;
        }
        nav {
            background: none;
            text-align: right !important;
        }
        nav #logo {
            -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
            height: 2.5em;
        }
        a {
            color: white !important;
        }
        .centered {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            color: #fff;
            font-size: 36px;
            top: 70%;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        }
        .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
        }
        nav .nav-link {
            font-size: 18px;
        }
        video {
            margin-top: -5em;
        }
    }
    /*# sourceMappingURL=main.css.map */